<aside class="sidebar">
    <nav>
        <ul>
            <li class="menu-inicio"><a href="dashboard.html">Início</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Pets</a></li>
            <li><a href="agendamentos.html">Agendamentos</a></li>
            <li><a href="agenda.html">Agenda</a></li>
            <li><a href="#">Agenda Veterinária</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Usuários</a></li>
        </ul>
    </nav>
</aside>