<aside class="sidebar">
    <nav>
        <ul>
            <li class="menu-inicio">
                <a href="dashboard.html">
                    <i class="pi pi-home"></i>
                    <span>Início</span>
                </a>
            </li>

            <li>
                <a href="clientes.html">
                    <i class="pi pi-users"></i>
                    <span>Clientes</span>
                </a>
            </li>

            <li>
                <a href="pets.html">
                    <i class="pi pi-heart"></i>
                    <span>Pets</span>
                </a>
            </li>

            <li>
                <a href="agenda.html">
                    <i class="pi pi-calendar"></i>
                    <span>Agenda</span>
                </a>
            </li>

            <li>
                <a href="servicos.html">
                    <i class="pi pi-briefcase"></i>
                    <span>Serviços</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="pi pi-user-edit"></i>
                    <span>Usuários</span>
                </a>
            </li>

        </ul>
    </nav>
</aside>